<?xml version="1.0" encoding="utf-8" ?>
<!-- All log levels. (Trace, Debug, Info, Warn, Error, Fatal) -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwConfigExceptions="true">
  <targets>
    <!-- 
    Default layout:
    ${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}
    
    Example:
    <target name="logfile" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${logger}|${message:withexception=true}" fileName="Logging/logging.log" />
    <target name="logfile" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${logger}|${message}|${exception:format=ToString}" maxArchiveFiles="4" archiveAboveSize="1024000" fileName="Logging/logging.log" />
    
    -->
    <target name="logfile" xsi:type="File" layout="${longdate}|${level:uppercase=true}|${logger}|${message:exceptionSeparator=\r\n:withException=true}" maxArchiveFiles="4" archiveAboveSize="1024000" fileName="Logging/logging-updater.log" />
    <target name="logdebugsystem" xsi:type="DebugSystem" />
  </targets>

  <rules>
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <logger name="*" minlevel="Debug" writeTo="logdebugsystem" />    
  </rules>
</nlog>